<div class="container">
  <%= link_to sanitize("&larr; Back to providers"), providers_path %>
  <div class="card shadow mt-4">
    <div class="card-body">

      <h1>Edit provider</h1>

      <%= render "form", provider: @provider %>
    </div>
  </div>
</div>
