<div class="container">
  <%= link_to sanitize("&larr; Back to invoices"), invoices_path %>
  <div class="card shadow mt-4">
    <div class="card-body">

      <h1>Edit invoice</h1>
      <%= turbo_frame_tag @invoice do %>
        <%= render "form", invoice: @invoice %>
      <% end %>
    </div>
  </div>
</div>
