<div class="container">
  <h1>CoopKahawa</h1>
  <p>The best place to sell your awesome coffee!</p>

  <% if user_signed_in? %>
    <%= link_to "View invoices", invoices_path, class: "btn btn-dark" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-dark" %>
  <% end %>
</div>
