<%= turbo_frame_tag product  do %>
  <div class="mt-2">
    <div class="card shadow-sm">
      <div class="card-body">
          <div class="row align-items-center">
            <div class="col-12 col-md-8">
              <%= link_to product.name, product_path(product), data: { turbo_frame: "_top" } %>
            </div>
            <div class="col-12 col-md-2 d-grid">
              <%= button_to "Delete", product_path(product), method: :delete, class: "btn btn-danger" %>
            </div>
            <div class="col-12 col-md-2 d-grid">
              <%= link_to "Edit", edit_product_path(product), class: "btn btn-secondary" %>
            </div>
          </div>
      </div>
    </div>
  </div>
<% end %>
