<%= turbo_frame_tag product  do %>
  <div class="mt-2">
    <div class="card shadow-sm">
      <div class="card-body">
          <div class="row align-items-center">
            <div class="col-12 col-md-10">
              <%= link_to product.name, product_path(product), data: { turbo_frame: "_top" } %>
            </div>
            <div class="col-12 col-md-2">
              <%= link_to edit_product_path(product) do %>
              <div class="btn btn-info">
                <i class="bi bi-pencil-square"></i>
              </div>
              <% end %>
              <%= link_to product_path(product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <div class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </div>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
<% end %>
