<div class="container">
  <%= link_to sanitize("&larr; Back to products"), products_path %>
  <div class="card mt-4">
    <div class="card-header">
      <h1><%= @product.name %></h1>
    </div>
  </div>
</div>
